p {
    background-color: black;
    color: white;
}

.flexbox {
    display: flex;
}

.column1 {
    background-color: lightpink;
    width: 100px;
    display: flex;
    justify-content: center;
}

.column2 {
    background-color: lightblue;
    width: 200px;
}