.flexbox {
    display: flex;
    flex-direction: row;
}

.blue {
    background-color: lightblue;
}

.pink {
    background-color: lightpink;
}

.item1 {
    width: 50px;
}

.item2 {
    flex: 1;
}

.item3 {
    width: 75px;
}