.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid;
    border-width: 1px;
    border-color: rgb(150, 150, 150);
    height: 50px;
    align-items: center;
}

.pink {
    background-color: lightpink;
}