body {
    height: 3000px;
}

.bottom-right {
    width: 320px;
    height: 180px;
    background-color: gray;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.close-button {
    position: absolute;
    top: -18px;
    left: -18px;
    font-family: Arial;
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 8px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
}

.timestamp {
    background-color: black;
    color: white;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-family: Arial;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}