.get_started {
    background-color: rgb(121, 82, 179);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
    margin-right: 6px;
    transition: background-color 0.15s;
}

.get_started:hover {
    background-color: rgb(99, 60, 156);
}

.download {
    background-color: white;
    color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);
    border-style: solid;
    cursor: pointer;
    font-weight: bold;
    border-width: 1px;
    border-radius: 4px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 23px;
    padding-right: 23px;
    transition: color 0.15s, background-color 0.15s;
}

.download:hover {
    color: white;
    background-color: rgb(108, 117, 125);
}